{% extends 'layout.html.twig' %}

{% block pageTitle %}
    {{ 'package.abandon.page_header'|trans }}
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        You are about to mark this package as abandoned. This will alert users that this package will no longer be maintained.<br><br>
        If you are handing this project over to a new maintainer or know of a package that replaces it, please use the field below to point users to the new package.<br>
        In case you cannot point them to a new package, this one will be tagged as abandoned without a package that replace it.
    </div>

    {{ form_start(form) }}
    <div class="card card-primary card-outline">
        <div class="card-header">
            Repository
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
        <div class="card-footer text-end">
            <div class="d-flex">
                <a href="{{ path('app_package_index') }}" class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-primary ms-auto">Submit</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
