{% extends 'layout.html.twig' %}

{% block pageTitle %}
    {{ 'package.list.page_header'|trans }}
{% endblock %}

{% block pageActions %}
    <form method="get">
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input type="text" name="filter" value="{{ app.request.query.get('filter') }}" class="form-control" placeholder="Filter" />
            <button class="btn btn-outline-primary" type="submit">Search</button>
            <a href="{{ path(app.request.get('_route')) }}" class="btn btn-outline-danger">Reset</a>
        </div>
    </form>
    
    <a class="btn btn-white bs-confirmation" href="{{ path('app_package_update_all') }}" data-confirmation="Do you really want to update all repositories? This can take a long time.">{{ 'action.update_all'|trans }}</a>
    <a class="btn btn-primary" href="{{ path('app_package_add') }}">{{ 'package.add_package'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    Packages <span class="badge bg-primary">{{ pagination.getTotalItemCount }}</span>
                </div>
                <div class="card-body p-0">
                    <table class="table table-hover mb-0">

                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Name', ['p.name']) }}</th>
                            <th>Last Version</th>
                            <th>Datum</th>
                            <th>Last Update</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% set counter = (pagination.getCurrentPageNumber - 1) * pagination.getItemNumberPerPage %}
                        {% for package in pagination %}
                            {% set counter = counter + 1 %}
                            <tr class="">
                                <td>
                                    <a href="{{ path('app_package_view', {package: package.id}) }}" style="font-weight: bold;">
                                        {{ package.name }}
                                    </a>

                                    {% if package.enable == false %}
                                        <span class="badge bg-danger">Disabled</span>
                                    {% endif %}

                                    {% if package.abandoned %}
                                        <span class="badge bg-warning">Abandoned</span>
                                    {% endif %}

                                    <br>
                                    <a href="{{ path('app_package_view', {package: package.id}) }}">
                                        {{ package.url }}
                                    </a><br>
                                    {{ package.lastStablePackage.description }}
                                </td>
                                <td>
                                    {{ package.lastStablePackage.prettyVersion }}
                                </td>
                                <td>
                                    {{ package.lastStablePackage.releaseDate|date }}
                                </td>
                                <td>
                                    {{ package.lastUpdate|date }}
                                </td>
                                <td>
                                    <span class="badge bg-primary">Downloads: {{ package_downloads(package)|number_format }}</span><br>
                                    {% if package.autoUpdate %}
                                        <span class="badge bg-success">Auto Update</span><br>
                                    {% else %}
                                        <span class="badge bg-danger">No Auto Update</span><br>
                                    {% endif %}
                                </td>
                                <td style="white-space: nowrap; width: 1px;">
                                    <div class="btn-group btn-group-sm">
                                        {% if package.enable != true %}
                                            <a href="{{ path('app_package_enable', { package: package.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.enable'|trans }}" class="btn btn-danger"><span class="fas fa-circle fa-fw"></span></a>
                                        {% else %}
                                            <a href="{{ path('app_package_disable', { package: package.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.disable'|trans }}" class="btn btn-success"><span class="fas fa-circle fa-fw"></span></a>
                                        {% endif %}
                                        <a href="{{ path('app_package_edit', { package: package.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.edit'|trans }}" class="btn btn-primary"><span class="fas fa-edit fa-fw"></span></a>
                                        <a href="{{ path('app_package_update', { package: package.id, referer: true }) }}" data-bs-toggle="tooltip" title="{{ 'action.update'|trans }}" class="btn btn-info"><span class="fas fa-sync fa-fw"></span></a>
                                        <a href="{{ path('app_package_delete', { package: package.id }) }}" data-confirmation="Remove?" data-bs-toggle="tooltip" title="{{ 'action.remove'|trans }}" class="btn bs-confirmation btn-danger"><span class="fas fa-trash fa-fw"></span></a>

                                        {% if package.abandoned != true %}
                                            <a href="{{ path('app_package_abandon', { package: package.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.abandon'|trans }}" class="btn btn-warning"><span class="fas fa-archive fa-fw"></span></a>
                                        {% else %}
                                            <a href="{{ path('app_package_unabandon', { package: package.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.unabandon'|trans }}" class="btn btn-dark"><span class="fas fa-archive fa-fw"></span></a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="card-footer d-flex align-items-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
