{% extends '@Devliver/layout.html.twig' %}

{% block pageTitle %}
    <i class="fas fa-plus fa-fw"></i> {{ 'repository.add.page_header'|trans }}
{% endblock %}

{% block pageActions %}
    <a href="{{ path('devliver_repo_index') }}" data-toggle="tooltip" title="{{ 'action.cancel'|trans }}" class="btn btn-outline-danger"><span class="fa fa-ban fa-fw"></span> {{ 'action.cancel'|trans }}</a>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {{ form_row(form.urls) }}

    {{ form_end(form) }}
{% endblock %}
