{% extends '@Devliver/layout.html.twig' %}

{% block pageTitle %}
    <i class="fab fa-git fa-fw" data-fa-mask="fas fa-circle"></i> {{ 'repository.list.page_header'|trans }}
{% endblock %}

{% block pageActionsGroup %}
    <a class="btn btn-info mr-1" target="_blank" href="{{ path('devliver_repository_index') }}"><span class="fas fa-cubes fa-fw"></span> {{ 'repository.singular'|trans }}</a>

    {{ parent() }}
{% endblock %}

{% block pageActions %}
    <a class="btn btn-outline-primary" href="{{ path('devliver_repo_update_all') }}"><span class="fas fa-sync fa-fw"></span> {{ 'action.update_all'|trans }}</a>
    <a class="btn btn-primary" href="{{ path('devliver_repo_add') }}"><span class="fas fa-plus fa-fw"></span> {{ 'repository.add_repositories'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-8">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col-md-4">
            <form method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" name="filter" value="{{ app.request.query.get('filter') }}" class="form-control" placeholder="Filter">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                        <a href="{{ path(app.request.get('_route')) }}" class="btn btn-outline-danger">Reset</a>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {{ 'repository.plural'|trans }} <span class="badge badge-primary">{{ pagination.getTotalItemCount }}</span>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped table-hover mb-0">

                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, '#', ['p.id']) }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'URL', ['p.url']) }}</th>
                            <th>{{ 'package.singular'|trans }}</th>
                            <th></th>
                        </tr>
                        {% for repo in pagination %}
                            <tr>
                                <td style="white-space: nowrap; width: 1px;">{{ repo.id }}</td>
                                <td>
                                    <a href="{{ path('devliver_repo_edit', {id: repo.id}) }}">
                                        {{ repo.url }}
                                    </a>
                                </td>
                                <td>
                                    {% for package in repo.packages %}
                                        <div><a href="{{ path('devliver_package_view', { package: package.id }) }}">{{ package.name }}</a></div>
                                    {% endfor %}
                                </td>
                                <td style="white-space: nowrap; width: 1px;">
                                    <div class="btn-group">
                                        <a href="{{ path('devliver_repo_edit', { id: repo.id }) }}" data-toggle="tooltip" title="{{ 'action.edit'|trans }}" class="btn btn-xs btn-outline-primary"><span class="fa fa-edit fa-fw"></span></a>
                                        <a href="{{ path('devliver_repo_update', { id: repo.id, referer: true }) }}" data-toggle="tooltip" title="{{ 'action.update'|trans }}" class="btn btn-xs btn-outline-info"><span class="fa fa-sync fa-fw"></span></a>
                                        <a href="{{ path('devliver_repo_delete', { id: repo.id }) }}" data-toggle="tooltip" title="{{ 'action.remove'|trans }}" class="btn btn-xs    btn-outline-danger"><span class="fa fa-trash fa-fw"></span></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col-md-6 text-right">
            {{ block('pageActionsGroup') }}
        </div>
    </div>
{% endblock %}
