{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <i class="fas fa-user-shield fa-fw"></i> Clients
{% endblock %}

{% block pageActions %}
    <a class="btn btn-primary" href="{{ path('app_client_add') }}"><span class="fas fa-plus fa-fw"></span> Add client</a>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-8">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    Clients <span class="badge badge-primary">{{ pagination.getTotalItemCount }}</span>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped table-hover mb-0">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Name', ['p.name']) }}</th>
                            <th>Token</th>
                            <th></th>
                        </tr>
                        {% for client in pagination %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_client_edit', {client: client.id}) }}">
                                        {{ client.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ client.token }}
                                </td>
                                <td style="white-space: nowrap; width: 1px;">
                                    <div class="btn-group">
                                        {% if client.enable != true %}
                                            <a href="{{ path('app_client_enable', { client: client.id }) }}" data-tooltip="{{ 'action.enable'|trans }}" class="btn btn-xs btn-danger"><span class="fas fa-circle fa-fw"></span></a>
                                        {% else %}
                                            <a href="{{ path('app_client_disable', { client: client.id }) }}" data-tooltip="{{ 'action.disable'|trans }}" class="btn btn-xs btn-success"><span class="fas fa-circle fa-fw"></span></a>
                                        {% endif %}
                                        <a href="{{ path('app_client_edit', { client: client.id }) }}" data-tooltip="{{ 'action.edit'|trans }}" class="btn btn-xs btn-primary"><span class="fas fa-edit fa-fw"></span></a>
                                        <a href="{{ path('app_client_reset_token', { client: client.id }) }}" data-tooltip="Reset token" class="btn btn-xs btn-info"><span class="fas fa-sync fa-fw"></span></a>
                                        <a href="{{ path('app_client_remove', { client: client.id }) }}" data-confirmation="Remove?" data-tooltip="{{ 'action.remove'|trans }}" class="btn btn-xs bs-confirmation btn-danger"><span class="fas fa-trash fa-fw"></span></a>

                                        <a class="btn btn-info btn-xs" target="_blank" href="{{ path('app_packages', { token: client.token }) }}">
                                            <span class="fas fa-cubes fa-fw"></span>
                                            Repository
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col-md-6 text-right">
            {{ block('pageActionsGroup') }}
        </div>
    </div>
{% endblock %}
