{% extends 'layout.html.twig' %}

{% block pageTitle %}
    Clients
{% endblock %}

{% block pageActions %}
    <a class="btn btn-primary" href="{{ path('app_client_add') }}">Add client</a>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    Clients <span class="badge bg-primary">{{ pagination.getTotalItemCount }}</span>
                </div>
                <div class="card-body p-0">
                    <table class="table table-hover mb-0">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Name', ['p.name']) }}</th>
                            <th>Token</th>
                            <th></th>
                        </tr>
                        {% for client in pagination %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_client_edit', {client: client.id}) }}">
                                        {{ client.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ client.token }}
                                </td>
                                <td style="white-space: nowrap; width: 1px;">
                                    <div class="btn-group">
                                        {% if client.enable != true %}
                                            <a href="{{ path('app_client_enable', { client: client.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.enable'|trans }}" class="btn btn-sm btn-danger"><span class="fas fa-circle fa-fw"></span></a>
                                        {% else %}
                                            <a href="{{ path('app_client_disable', { client: client.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.disable'|trans }}" class="btn btn-sm btn-success"><span class="fas fa-circle fa-fw"></span></a>
                                        {% endif %}
                                        <a href="{{ path('app_client_edit', { client: client.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.edit'|trans }}" class="btn btn-sm btn-primary"><span class="fas fa-edit fa-fw"></span></a>
                                        <a href="{{ path('app_client_reset_token', { client: client.id }) }}" data-bs-toggle="tooltip" title="Reset token" class="btn btn-sm btn-info"><span class="fas fa-sync fa-fw"></span></a>
                                        <a href="{{ path('app_client_remove', { client: client.id }) }}" data-confirmation="Remove?" data-bs-toggle="tooltip" title="{{ 'action.remove'|trans }}" class="btn btn-sm bs-confirmation btn-danger"><span class="fas fa-trash fa-fw"></span></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="card-footer d-flex align-items-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
