{% extends '@Devliver/layout.html.twig' %}

{% block pageTitle %}
    <i class="fas fa-cube fa-fw"></i> {{ package.name }}
{% endblock %}

{% block pageActionsGroup %}
    <div class="btn-group mr-2">
        <a href="{{ path('devliver_package_delete', { package: package.id }) }}" data-title="Remove?" title="{{ 'action.remove'|trans }}" class="btn bs-confirmation bs-tooltip btn-danger"><span class="fas fa-trash fa-fw"></span></a>

        {% if package.abandoned != true %}
            <a href="{{ path('devliver_package_abandon', { package: package.id }) }}" title="{{ 'action.abandon'|trans }}" class="bs-tooltip btn btn-warning"><span class="fas fa-archive fa-fw"></span></a>
        {% else %}
            <a href="{{ path('devliver_package_unabandon', { package: package.id }) }}" title="{{ 'action.unabandon'|trans }}" class="bs-tooltip btn btn-dark"><span class="fas fa-archive fa-fw"></span></a>
        {% endif %}
    </div>
    <div class="btn-group mr-2">
        {% if package.enable != true %}
            <a href="{{ path('devliver_package_enable', { package: package.id }) }}" title="{{ 'action.enable'|trans }}" class="bs-tooltip btn btn-danger"><span class="fas fa-circle fa-fw"></span></a>
        {% else %}
            <a href="{{ path('devliver_package_disable', { package: package.id }) }}" title="{{ 'action.disable'|trans }}" class="bs-tooltip btn btn-success"><span class="fas fa-circle fa-fw"></span></a>
        {% endif %}
        <a href="{{ path('devliver_package_edit', { package: package.id }) }}" title="{{ 'action.edit'|trans }}" class="bs-tooltip btn btn-primary"><span class="fas fa-edit fa-fw"></span></a>
    </div>
    <div class="btn-group">
        <a href="{{ path('devliver_package_update', { package: package.id }) }}" title="{{ 'action.update'|trans }}" class="btn btn-info bs-tooltip"><i class="fas fa-sync fa-fw"></i></a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if package.autoUpdate == false %}
                <div class="mb-3">
                    <div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> Up to now, the package was not updated with a hook.</div>
                </div>
            {% endif %}

            <div class="mb-3">
                <i class="fas fa-download"></i> <span class="pl-2">composer require {{ package.name }}</span>
            </div>

            {% for version in versions %}
                <div class="package-details" id="details_{{ (version.prettyVersion ~ version.sourceReference)|sha1 }}" {% if version != info %}style="display: none"{% endif %}>
                    {% include '@Devliver/Package/_details.html.twig' with { info: version } %}
                </div>
            {% endfor %}

            {% if package.readme is not null %}
                <div class="border-top mt-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-2">
                                <div class="card-header py-1 px-2">Readme</div>
                                <div class="card-body py-1 px-2">
                                    {{ package.readme|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if info.authors and info.authors|length > 0 %}
                <p class="authors">
                    {% for author in info.authors %}
                        {% if author.email is defined and author.email is not empty %}
                            {%- if author.homepage is defined and author.homepage is not empty -%}
                                <a href="{{ author.homepage }}" target="_blank">
                            {%- endif -%}
                            <img src="{{ gravatar(author.email, 50) }}" title="{{ author.name }}"/>
                        {% endif -%}
                        {%- if author.homepage is defined and author.homepage is not empty -%}
                            </a>
                        {%- endif -%}
                    {% endfor %}
                </p>
            {% endif %}

            <p>
                {{ info.sourceUrl }}
            </p>

            <div class="card mb-3">
                <div class="card-header py-1 px-2">Infos</div>
                <div class="list-group list-group-flush">
                    {% if info.homepage %}
                        <a href="{{ info.homepage }}" class="list-group-item list-group-item-action py-1 px-2" target="_blank">
                            <i class="fas fa-home fa-fw"></i>
                            Homepage
                        </a>
                    {% endif %}
                    {% if info.support.source is defined %}
                        <a href="{{ info.support.source }}" class="list-group-item list-group-item-action py-1 px-2" target="_blank">
                            <i class="fas fa-code fa-fw"></i>
                            Releases
                        </a>
                    {% endif %}
                    {% if info.support.issues is defined %}
                        <a href="{{ info.support.issues }}" class="list-group-item list-group-item-action py-1 px-2" target="_blank">
                            <i class="fas fa-exclamation-circle fa-fw"></i>
                            Issues
                        </a>
                    {% endif %}
                    {% if info.support.irc is defined %}
                        <a href="{{ info.support.irc }}" class="list-group-item list-group-item-action py-1 px-2" target="_blank">
                            <i class="fas fa-comments fa-fw"></i>
                            IRC
                        </a>
                    {% endif %}
                    {% if info.support.forum is defined %}
                        <a href="{{ info.support.forum }}" class="list-group-item list-group-item-action py-1 px-2" target="_blank">
                            <i class="fas fa-wpforms fa-fw"></i>Forum
                        </a>
                    {% endif %}
                    {% if info.support.wiki is defined %}
                        <a href="{{ info.support.wiki }}" class="list-group-item list-group-item-action py-1 px-2" target="_blank">
                            <i class="fas fa-book fa-fw"></i>
                            Wiki
                        </a>
                    {% endif %}
                    {% if info.type is defined %}
                        <a href="#" class="list-group-item list-group-item-action py-1 px-2">
                            <i class="fas fa-tag fa-fw"></i>
                            {{ info.type }}
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header py-1 px-2">Versions</div>
                <ul class="list-group list-group-flush">
                    {% for version in package.versionsSorted %}
                        {% set pi = version.packageInformation %}
                        {% set adapter = package_adapter(pi) %}
                        <li class="list-group-item py-1 px-2 clearfix">
                            <div class="float-left">
                                <a href="#" class="package-link" data-package="details_{{ (pi.prettyVersion ~ pi.sourceReference)|sha1 }}">
                                    {{ pi.prettyVersion|truncate(40) }}

                                    {% if adapter.alias is not null %}
                                        / {{ adapter.alias }}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="float-right">
                                <span class="badge badge-primary badge-pill" title="Downloads">{{ version_downloads(version)|number_format }}</span>
                                <a href="{{ package_download_url(pi) }}" title="Download"><i class="fas fa-download bs-tooltip"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/php.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/json.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript">
        $(function () {
            $('.package-link').on('click', function (e) {
                e.preventDefault();

                $('.package-details').hide();
                $('#' + $(this).data('package')).show();
            })
        });
    </script>
{% endblock %}

