<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ asset('bundles/devliver/images/logo_black.png') }}"/>

    {% block stylesheets %}
        {#<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-87sz15XXg/vK1YUT8aQFH3EIw5aC/jbpolvTC264SVJfjOIBWv0V/o2FyyKclY8G" crossorigin="anonymous">#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css">
        <link rel="stylesheet" href="{{ asset('bundles/devliver/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/devliver/css/sticky-footer-navbar.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    {% endblock %}

    <title>{% block title %}Devliver{% endblock %}</title>
</head>
<body>

{% include '@Devliver/_partials/header.html.twig' %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                {% if is_granted('ROLE_MANAGER') %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Navigation</span>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('devliver_package_index') }}">
                                <i class="fas fa-cube fa-fw"></i>
                                {{ 'menu.packages'|trans }}
                            </a>
                        </li>
                    </ul>
                {% endif %}

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>About</span>
                </h6>
                <ul class="nav flex-column">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('devliver_howto') }}">
                                <i class="fas fa-question-circle fa-fw"></i>
                                How-To
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('devliver_software_index') }}">
                                <i class="fas fa-cube fa-fw"></i>
                                Used Software
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/shapecode/devliver" target="_blank">
                            <i class="fas fa-code-branch fa-fw"></i>
                            Contribute
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block pageHeaderWrapper %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3 mb-4 pb-2 border-bottom">

                    {% block pageTitleWrapper %}
                        <h1 class="h2">
                            {% block pageTitle %}
                                {{ pageTitle|default('') }}
                            {% endblock %}
                        </h1>
                    {% endblock %}

                    {% block pageActionsWrapper %}
                        <div class="btn-toolbar mb-2 mb-md-0">
                            {% block pageActionsGroup %}
                                <div class="btn-group">
                                    {% block pageActions %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% spaceless %}
                <div class="content-area flash-messages">
                    {% for type, flashMessages in app.flashes %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">{{ flashMessage|raw }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endspaceless %}

            {% block content %}{% endblock %}

        </main>

        {% include '@Devliver/_partials/footer.html.twig' %}
    </div>
</div>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha256-ko+X8xDY92jF49Uh47HOLP8Vb5zGDF0J+tdy9KLEP1I=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.0/dist/bootstrap-confirmation.min.js" integrity="sha256-wWEverTA5HQo+jecn1obPpRVYGlGGcT5tahw9GN32kg=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            $('.bs-tooltip').tooltip();
            $('.bs-confirmation').confirmation({
                rootSelector: '.bs-confirmation',
                popout: true,
                singleton: true,
                title: function () {
                    return $(this).data('confirmation');
                }
            });
        });
    </script>
{% endblock %}

</body>
</html>