<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ path('devliver_index') }}"><i class="fas fa-cubes fa-fw"></i> Devliver</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% if is_granted('ROLE_MANAGER') %}
                    {{ knp_menu_render('main_left', {
                        template: '@Devliver/_Partials/knp_bootstrap4.html.twig',
                        currentClass: 'active',
                    }) }}

                    <form class="form-inline ml-auto mr-3">
                        {% if current_release is not null and latest_release.id != current_release.id and is_granted('ROLE_USER') %}
                            <a class="btn btn-warning" href="{{ latest_release.html_url }}" data-toggle="tooltip" title="{{ latest_release.name }}" target="_blank">
                                Update Available
                            </a>
                        {% endif %}
                    </form>

                    {{ knp_menu_render('main_right', {
                        template: '@Devliver/_Partials/knp_bootstrap4.html.twig',
                        currentClass: 'active',
                    }) }}
                {% endif %}
            </div>
        </div>
    </nav>
</header>
