<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ asset('build/images/logo_black.png') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <title>{% block title %}Devliver{% endblock %}</title>
</head>
<body class="layout-top-nav control-sidebar-slide-open">

<div class="wrapper">
    {% include '_partials/header.html.twig' %}

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">
                            {% block pageTitle %}
                                {{ pageTitle|default('') }}
                            {% endblock %}
                        </h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        {% block pageActionsWrapper %}
                            {% block pageActionsGroup %}
                                <div class="btn-group">
                                    {% block pageActions %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-area flash-messages">
                            {% for type, flashMessages in app.flashes %}
                                {% for flashMessage in flashMessages %}
                                    <div class="alert alert-{{ type }}">{{ flashMessage|raw }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="main-footer text-sm">
        {% include '_partials/footer.html.twig' %}
    </footer>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>