<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ asset('build/images/logo_black.png') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <title>{% block title %}Devliver{% endblock %}</title>
</head>
<body class="antialiased">

<div class="wrapper">
    {% include '_partials/header.html.twig' %}

    <div class="page-wrapper">
        <div class="container">
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            {% block pagePreTitle %}
                                {{ pagePreTitle|default('') }}
                            {% endblock %}
                        </div>
                        <h2 class="page-title">
                            {% block pageTitle %}
                                {{ pageTitle|default('') }}
                            {% endblock %}
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            {% block pageActions %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="page-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content-area flash-messages">
                            {% for type, flashMessages in app.flashes %}
                                {% for flashMessage in flashMessages %}
                                    <div class="alert alert-important alert-{{ type }}">{{ flashMessage|raw }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer footer-transparent d-print-none">
            {% include '_partials/footer.html.twig' %}
        </footer>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
