{% extends '@Devliver/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageTitle %}
    <i class="fas fa-key fa-fw"></i> {{ 'profile.change_password.page_header'|trans({}, 'messages') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save fa-fw"></i>
            {{ 'change_password.submit'|trans }}
        </button>
    </div>

    {{ form_end(form) }}

{% endblock %}
