{% extends '@Devliver/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageTitle %}
    <i class="fas fa-sign-in-alt fa-fw"></i> {{ 'security.login.page_header'|trans({}, 'messages') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/devliver/css/signin.css') }}">
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" class="form-signin" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <h2 class="h3 mb-3 font-weight-normal">{{ 'security.login.headline'|trans({}, 'messages') }}</h2>

        <label for="_username" class="sr-only">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="_username" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required autofocus>

        <label for="_password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="_password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required>

        <div class="custom-control mb-3 custom-checkbox">
            <input type="checkbox" name="_remember_me" value="on" class="custom-control-input" id="_remember_me">
            <label class="custom-control-label" for="_remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">
            <i class="fas fa-sign-in-alt fa-fw"></i> {{ 'security.login.submit'|trans }}
        </button>
    </form>

{% endblock %}