{% extends 'layout.html.twig' %}

{% block pageTitle %}
    <i class="fas fa-plus fa-fw"></i> Add user
{% endblock %}

{% block pageActions %}
    <a href="{{ path('app_user_index') }}" data-tooltip="{{ 'action.cancel'|trans }}" class="btn btn-outline-danger"><span class="fas fa-ban fa-fw"></span> {{ 'action.cancel'|trans }}</a>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="card card-primary card-outline">
        <div class="card-header">
            Add user
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
