{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageTitle %}
    <i class="fas fa-sign-in-alt fa-fw"></i> {{ 'resetting.request.page_header'|trans({}, 'messages') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <form action="{{ path("fos_user_resetting_send_email") }}" method="post">
                <div class="form-group">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="{{ 'resetting.request.username'|trans }}" required autofocus>
                </div>

                <button class="btn btn-primary btn-block" type="submit" name="submit">
                    <i class="fas fa-sign-in-alt fa-fw"></i> {{ 'resetting.request.submit'|trans }}
                </button>

                <p class="mt-3">
                    <a href="{{ path("devliver_index") }}">Ich weiß mein Passwort wieder!</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
