{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageTitle %}
    <i class="fas fa-sign-in-alt fa-fw"></i> {{ 'resetting.reset.page_header'|trans({}, 'messages') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}) }) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary btn-block" type="submit" name="submit">
                {{ 'resetting.reset.submit'|trans }}
            </button>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
